/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


/* reusable design */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    cursor: pointer;
}

header {
    width: 100%;
    height: 677px;
    background-color: #2d25a0;

}

.animation img {
    width: 30px;
    height: 30px;
    transition: transform 2s;
}

header:hover .animation img {
    transform: translate(500px);
}


/* banner design */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}



.banner h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
}

.banner-img img {
    width: 556px;
    height: 538px;
}

.banner .add-btn {
    width: 168px;
    height: 44px;
}

.banner .add-btn p {
    margin-right: 8px;
}

/* main part design */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    margin: 70px 0px;
}

.player {
    background-color: #FFFFFF;
    width: 330px;
    height: 456px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 256px;

}

.player-name {
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
}

.player-info h3 {
    margin-top: 16px;
    margin-bottom: 10px;
}


.player-detail {
    font-size: 16px;
    color: #6C6C6C;

}

/* footer design */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.logo img {
    width: 484px;
    height: 110px;
    margin-bottom: 20px;

}

.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 32px;
    height: 32px;

}

.copyright {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 0;
    margin-bottom: 63px;

}

/* Media Queries */

/* Mobile decises */

@media only screen and (max-width:688px) {

    .container {
        width: 100%;
    }

    .banner {
        flex-direction: column;
    }

    .banner-img img {
        width: 329px;
        height: 259px;
        margin-top: 50px;
    }

    .banner h1 {
        font-size: 36px;
    }

    .players {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


/* Tablet devices */

@media only screen and (min-width:688px) and (max-width:992px) {

    .container {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }
}